<!-- Author: Harsh Varmora and Vipul Chaudhary -->
<!-- Purpose: Creating a site related agriculture and rural development -->
<!-- Date: 14 August,2021 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/logo.png" type="image/x-icon">
    <title>Agriculture Hut</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <div id="logo">
                <img src="../static/logo.png" alt="Agriculture Hut">
            </div>
            <div id="links">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="#gov-scheme">Gov. Schemes</a></li>
                    <li><a href="#agriculture_loan">What's New</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="Show-case">

        <div id="about_agriculture">
            <h5>What Agriculture is ?</h5>
            <div id="img-txt">
                <img src="../static/about_agriculture.jpg" alt="">
            <p>Agriculture is the art and science of cultivating the soil, growing crops and raising livestock.
                Image result
                Agriculture plays a critical role in the entire life of a given economy. Agriculture is the backbone of
                the economic system of a given country. In addition to providing food and raw material, agriculture also
                provides employment opportunities to a very large percentage of the population. 
                By radically changing the way we acquire our food, the development of agriculture has condemned us to live worse than ever before. Not only that, agriculture has led to the first significant instances of large-scale war, inequality, poverty, crime, famine and human induced climate change and mass extinction. Agriculture is important to human beings because it forms the basis for food security. It helps human beings grow the most ideal food crops and raise the right animals with accordance to environmental factors. ... Agriculture also helps humans know the right way to use land so as to avoid disasters like famines.</p>
            </div>
            
        </div>

        <div id="agriculture_loan">
            <img src="" alt="">
            <h5>Agriculture loan</h5>
            <p>HDFC offers Agriculture loan , There is many Types of loan like : </p>
            <div class="loan">
                <div id="loan-card">
                    <li>Warehouse Receipt Financing</li>
                    <p>To reduce the processing time a service provider will act as an intermediate between the bank and the
                        borrower. He also assists the borrower in the documentation process and with other formalities.</p>
                </div>
                <div id="loan-card">
                    <li>Tractor Loans</li>
                    <p>These are available to farmers and non-farmers to buy new or used tractors. The loan is available
                        without additional collateral security, the documentation process is easy and has a faster
                        turnaround time. The interest rates are lower and it caters to all segments.</p>
                </div >
                <div id="loan-card">
                    <li>Agri Business Credit</li>
                    <p>You can avail working capital finance through short term or long term loans in agricultural
                        commodities. This is a tailor made product for Agricultural input dealers.</p>
                </div>
            </div>
        </div>

        <div id="gov-scheme">
            <h5> Top Five Subsidies under Government Schemes</h5>
            <ul>
                <li>Rashtriya Krishi Vikas Yojana (RKYY)</li>
                <p>Under this scheme the state government provides 100% grants to the farmers depending upon their prospective projects.</p>

                <li>National Food Security Mission (NFSM)</li>
                <p>Under this scheme the subsidies are being provided to the farmers for the development of the machineries to improve the productivity of the farms.</p>

                <li>Agricultural Marketing Infrastructure (AMI)</li>
                <p>It is a sub-scheme under the scheme Integrated Scheme for Agricultural Marketing.
                    Under this scheme, beneficiaries are being provided subsidy at the rate of 25% to 33.33% for creation of the storage infrastructure in the farm.</p>

                <li>Bringing Green Revolution to Eastern India Scheme (BGREI)</li>

                <p>Under this scheme two types of subsidies are being provided to the farmers.
                    One is at the rate of 50% of the cost of procurement, storage creation, marketing, infrastructure and such and another subsidy of 100% for the community assets under this scheme.</p>

                <li>National Horticulture Mission (NHM)</li>
                <p>Under this scheme there are different types of market subsidies that are provided for the improvement of the Horticultural products.</p>
            </ul>
        </div>
    </div>
    <footer>
        © 2021 Agriculture Hut | All Rights Reserved
    </footer>
</body>

</html>